<header>
  <pre>
                                        ▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒░░                                    
                                ░░▓▓██░░██▓▓▒▒██▒▒▒▒██▒▒▓▓██░░▓▓▒▒                                
                          ░░▓▓▒▒██▓▓▒▒██▒▒▒▒██░░▓▓▓▓░░██▓▓▒▒██▒▒▒▒██░░░░                          
                      ░░▓▓▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▒▒▓▓▓▓▓▓▓▓▓▓▒▒                        
                    ▒▒▒▒▓▓▒▒▒▒▓▓▓▓██▓▓▒▒▓▓▓▓▒▒██▓▓▓▓▓▓▒▒▓▓▓▓░░▓▓▓▓▒▒██▒▒▓▓██░░                    
                  ░░▓▓██░░▓▓▓▓▒▒██▓▓▒▒██▒▒▓▓██░░▓▓▓▓░░██▒▒░░██▒▒▒▒██░░▓▓▓▓░░▓▓▒▒                  
                ▒▒██▓▓▓▓▓▓▓▓▓▓██▒▒▓▓▓▓▒▒▓▓▓▓▓▓▓▓▒▒▒▒▓▓▒▒▒▒▓▓░░▓▓▓▓░░▓▓▓▓▒▒▓▓▒▒▒▒▓▓                
            ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▓▓▓▓▓▓▓▓▒▒▒▒▓▓▒▒▒▒▓▓▓▓▓▓▒▒▒▒▓▓▒▒▓▓▒▒▒▒▓▓▒▒▒▒              
            ▓▓▓▓██▒▒▓▓░░    ░░▒▒██▓▓▓▓██▓▓▓▓██▒▒▓▓▓▓░░▓▓▓▓▒▒██░░          ░░▓▓▓▓░░▓▓▒▒            
          ▒▒████▒▒▒▒              ░░▓▓░░██▓▓▒▒██▓▓▒▒██▒▒▒▒░░                  ░░██░░▓▓▒▒          
        ▒▒▓▓▓▓▓▓▓▓                    ░░▓▓▓▓▓▓▓▓▓▓▓▓▒▒                          ▒▒▓▓▒▒▒▒░░        
      ░░▒▒▓▓▓▓▓▓      ░░▓▓▓▓▓▓▒▒▓▓░░      ▒▒██▓▓██░░              ▒▒▒▒▓▓▓▓      ░░▓▓▒▒▒▒▓▓        
      ▓▓██▒▒██▓▓      ▒▒██▒▒▓▓██░░▓▓▓▓      ░░▓▓              ▓▓▓▓░░▓▓▒▒░░▓▓    ▒▒░░▓▓▓▓░░▒▒      
    ▒▒▓▓▓▓██▓▓▓▓      ██▒▒▓▓▓▓▒▒██▒▒▒▒▓▓▒▒▒▒░░            ▒▒▓▓▓▓▓▓██▒▒▓▓▓▓░░    ░░▓▓▓▓▒▒██▓▓      
    ▓▓▓▓▓▓▓▓▓▓▓▓      ▒▒▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓            ▒▒▒▒▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▒▒    ▒▒▓▓▓▓▓▓▓▓▓▓▒▒    
  ░░▒▒▓▓██▒▒██▓▓      ░░██▓▓▓▓██░░▓▓▓▓▒▒            ▓▓▒▒▒▒▓▓▒▒▓▓▓▓▒▒▓▓▒▒▒▒▒▒    ▓▓░░▓▓▓▓░░██▓▓    
  ░░▓▓▓▓▒▒██▒▒▒▒░░      ░░▓▓▓▓▒▒██▒▒▒▒            ▓▓  ▒▒▒▒░░▓▓▒▒▒▒██░░▓▓▓▓      ░░██▒▒▒▒██░░▒▒░░  
  ██▓▓▓▓▓▓▓▓██▓▓▒▒      ▒▒░░    ▒▒▒▒          ░░▓▓▒▒▓▓▒▒▒▒▒▒░░        ░░░░▓▓▒▒░░▓▓▒▒▒▒▓▓▒▒▓▓▓▓▒▒  
  ▓▓▓▓▒▒▓▓▓▓██▓▓▓▓        ▒▒  ▓▓▒▒          ░░▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓░░          ░░▒▒▒▒▓▓▓▓▒▒▓▓▓▓▓▓  
▒▒▒▒██▒▒▒▒██▒▒  ▒▒░░      ▒▒▓▓▒▒          ░░██░░▒▒▒▒░░██▓▓░░▓▓▒▒▒▒██░░▓▓▒▒        ░░▒▒▒▒██▒▒▒▒▓▓  
▒▒██▒▒▒▒▓▓        ██        ▓▓          ▒▒░░          ░░▒▒▓▓░░▒▒▓▓░░██▒▒  ██░░        ▓▓  ▓▓▒▒░░░░
▓▓▒▒▓▓▓▓░░      ▒▒▓▓░░    ▓▓          ░░░░              ▒▒▒▒▓▓▒▒▒▒▓▓▓▓    ▒▒▓▓▓▓░░      ▒▒▒▒▒▒▒▒░░
▓▓▒▒██▓▓      ▓▓██▓▓▓▓  ▒▒░░        ░░▓▓                ░░▒▒▓▓▒▒░░▒▒▒▒  ▒▒░░▓▓▒▒░░▒▒      ▒▒▒▒▓▓░░
▓▓██▒▒░░    ▒▒██▒▒██▓▓▒▒▓▓          ▓▓                    ██  ▓▓▓▓    ░░▒▒██▒▒▒▒██░░░░    ▓▓▒▒░░▓▓
██▒▒██      ▒▒▓▓██▒▒▓▓██          ▒▒▒▒▓▓                  ▒▒▓▓▒▒▓▓▒▒  ▓▓▓▓▒▒▓▓▓▓▒▒▓▓      ▒▒▓▓▓▓░░
██▓▓▓▓░░      ▓▓▓▓▓▓▒▒░░        ▓▓  ▓▓▓▓                ░░▒▒▓▓▓▓▓▓      ▓▓▓▓▓▓▓▓▒▒▒▒      ▒▒▓▓▓▓░░
▓▓██▓▓▓▓        ▒▒██▒▒        ▓▓░░  ░░░░▒▒              ▒▒██░░▓▓  ░░▓▓  ░░██▓▓▓▓▒▒        ██▓▓░░▒▒
▓▓▒▒██▓▓░░        ░░▒▒██░░  ▒▒░░      ░░▒▒░░          ▒▒▒▒░░██  ▒▒██▒▒▒▒▒▒▒▒▒▒          ▓▓▒▒▒▒██  
▒▒▓▓▓▓▓▓▓▓░░            ░░▒▒▓▓░░        ░░▓▓▓▓  ░░░░▒▒▒▒▒▒▓▓▒▒▓▓▓▓▒▒▓▓░░░░            ▒▒▒▒▓▓▓▓▒▒  
░░██▓▓▓▓██▓▓▒▒                ██          ░░▒▒▓▓▓▓▒▒▓▓░░▒▒▒▒▒▒░░                    ▓▓▓▓▒▒▓▓▒▒░░  
  ▒▒██▓▓▒▒▓▓▓▓▓▓░░              ██          ░░░░░░                              ░░██▒▒▒▒██░░▒▒██  
  ██▓▓▓▓██▒▒████▒▒██▒▒            ▒▒            ▒▒░░                        ▒▒▒▒▓▓▒▒▒▒▓▓░░▓▓▓▓░░  
  ▒▒▓▓▓▓▓▓▓▓▓▓▓▓░░  ░░▓▓▓▓░░        ▒▒            ▒▒▒▒              ░░▒▒▒▒▒▒░░  ▓▓▒▒▓▓▒▒▒▒▓▓▒▒    
    ██▓▓▓▓▓▓▓▓▓▓      ▒▒▒▒▓▓▓▓▒▒██▒▒░░██            ░░██░░░░▒▒▒▒▓▓██▒▒▓▓██░░    ░░██▒▒▒▒██▒▒▒▒    
    ▒▒▓▓██▒▒▓▓▓▓      ▒▒▓▓▒▒▒▒██░░▓▓▓▓  ▓▓░░            ▒▒██▒▒██▓▓▒▒██▓▓▒▒██    ▓▓░░▓▓▓▓░░▓▓░░    
    ░░▓▓▓▓▓▓▓▓▓▓      ▓▓▒▒▓▓▓▓▒▒▒▒▓▓▒▒▒▒▒▒                  ▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒    ░░▓▓▒▒▓▓▓▓▓▓      
      ▓▓▓▓██▓▓▓▓      ▓▓▒▒▓▓▒▒▒▒▓▓▒▒▒▒      ▒▒▒▒░░            ░░▓▓██▓▓▓▓▓▓░░    ░░▒▒▒▒▒▒▓▓        
        ██▒▒▓▓▓▓░░      ▓▓▒▒▒▒▒▒          ▒▒░░██▒▒▒▒                            ▓▓░░▓▓▓▓░░        
          ██▒▒▓▓██                    ▒▒░░▒▒██▒▒▓▓▓▓▒▒▒▒                      ░░▒▒██▒▒▒▒          
          ▒▒▓▓▓▓▓▓▒▒              ░░▒▒▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒                  ▓▓▓▓▓▓▓▓░░          
            ▓▓▓▓▒▒██▒▒▒▒▒▒░░▒▒██▒▒▒▒▓▓░░▓▓▒▒░░██▒▒▓▓██▒▒▓▓██▒▒▓▓▒▒        ▓▓▒▒▓▓██▒▒▒▒            
              ▒▒██▒▒▓▓██░░▓▓▓▓░░██▒▒░░██░░▒▒██░░▓▓▓▓░░██▓▓▒▒██▒▒▒▒██░░▓▓██▒▒██▓▓░░▒▒              
                ▒▒▓▓▓▓▒▒▓▓▓▓▓▓▓▓▓▓▓▓▒▒░░▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▓▓▓▓▒▒▓▓▓▓▓▓██▓▓▓▓▒▒                
                  ▒▒▓▓▓▓▓▓▒▒▓▓▓▓▓▓▒▒▒▒▒▒▓▓▒▒▒▒▓▓▒▒▓▓▓▓▓▓▓▓▓▓▒▒▓▓▓▓▒▒▓▓▓▓▓▓▓▓▓▓░░                  
                      ▓▓░░██▓▓▒▒██▒▒░░▓▓░░▓▓██░░██▓▓░░██▓▓▒▒██▒▒▒▒██▒▒▓▓██░░                      
                        ▒▒▒▒▒▒██░░▒▒▒▒░░▓▓▒▒░░██▒▒▒▒██▒▒▓▓██▒▒██▓▓░░██▓▓░░                        
                            ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░                            
                                ░░▒▒▒▒▓▓▒▒▒▒▓▓▒▒▓▓▓▓▒▒██▓▓▒▒██▒▒                                  
                                        ░░░░░░▓▓▒▒░░▒▒░░░░                                        
</pre
  >
  <pre>
  
  


  ████████╗░█████╗░░██████╗  ██╗███╗░░██╗████████╗███████╗██████╗░███████╗░█████╗░░█████╗░███████╗
  ╚══██╔══╝██╔══██╗██╔════╝  ██║████╗░██║╚══██╔══╝██╔════╝██╔══██╗██╔════╝██╔══██╗██╔══██╗██╔════╝
  ░░░██║░░░██║░░██║╚█████╗░  ██║██╔██╗██║░░░██║░░░█████╗░░██████╔╝█████╗░░███████║██║░░╚═╝█████╗░░
  ░░░██║░░░██║░░██║░╚═══██╗  ██║██║╚████║░░░██║░░░██╔══╝░░██╔══██╗██╔══╝░░██╔══██║██║░░██╗██╔══╝░░
  ░░░██║░░░╚█████╔╝██████╔╝  ██║██║░╚███║░░░██║░░░███████╗██║░░██║██║░░░░░██║░░██║╚█████╔╝███████╗
  ░░░╚═╝░░░░╚════╝░╚═════╝░  ╚═╝╚═╝░░╚══╝░░░╚═╝░░░╚══════╝╚═╝░░╚═╝╚═╝░░░░░╚═╝░░╚═╝░╚════╝░╚══════╝
  VERSION: 3.0.1.22.3.4.0.5.630.1.a.system_builtin_update_4.epsilon runnin at 2bn+ instances

</pre
  >
  <h1>DATA TRANSFER CACHE</h1>
  <nav>
    <ul>
      <li *ngFor="let item of navItems">
        <a [attr.href]="item.link">{{ item.name }}</a>
      </li>
    </ul>
  </nav>
</header>
